{% extends 'base.html' %}

{% block head %}
<style>
    body
    {
        font-family: sans-serif;
        height: 700px;
        background-color: blue; /* For browsers that do not support gradients */
        background-image: linear-gradient(to bottom right, blue, yellow);
    }
    form
    {
        background-color:rgba(0,180,255,0.4);
        margin: 0 auto;
        width:350px;
    }
    td
    {
        font-size: 20px;
        font-family: sans-serif;
    }
    input[type=number]
    {
        width: 100%;
        padding: 10px 5px;
    }
    button
    {
        background-color: #008CBA;
        border-radius: 4px;
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        width: 100%;
    }
</style>
{% endblock %}

{% block body %}
<h1 style="text-align:center">Graduation Admissions Predictor</h1>
<!-- Input -->
<form action="{{ url_for('predict')}}" method="post">
    <table>
        <tr>
            <td align="left">GRE Score</td>
        </tr>
        <tr>
            <td align="left"><input type="number" id="GRE" name="GRE Score" placeholder="out of 340" required="required" /> </td>
        </tr>
        <tr>
            <td align="left">TOEFL Score</td>
        </tr>
        <tr>
            <td align="left"><input type="number" id="TOEFL" name="TOEFL Score" placeholder="out of 120" required="required" /></td>
        </tr>
        <tr>
            <td align="left">University Rating</td>
        </tr>
        <tr>
            <td align="left"><input type="number" id="Uni Rating" name="University Rating" placeholder="out of 5" required="required" /></td>
        </tr>
        <tr>
            <td align="left">Statement of Purpose</td>
        </tr>
         <tr>
            <td align="left"><input type="number" id="SOP" name="SOP" placeholder="out of 5" required="required" /></td>
        </tr>
        <tr>
            <td align="left">Letter of Reccommendation Strength</td>
        </tr>
        <tr>
            <td align="left"><input type="number" id="LOR" name="LOR" placeholder="out of 5" required="required" /></td>
        </tr>
        <tr>
            <td align="left">Undergraduate GPA</td>
        </tr>
        <tr>
            <td align="left"><input type="number" id="GPA" name="Undergraduate GPA" placeholder="out of 10" required="required" /></td>
        </tr>
        <tr>
            <td align="left">Research Experience</td>
        </tr>
        <tr>
            <td align="left"><input type="number" id="Experience" name="Research Experience" placeholder="either 0 (No) or 1 (Yes)" required="required" /></td>
        </tr>
        <tr>
            <td><button type="submit" class="btn btn-primary btn-block btn-large">Predict</button></td>
        </tr>
        <tr>
            <td align="left">{{ prediction_text}}</td>
        </tr>
    </table>
</form>
{% endblock %}